<div class="form-section-head">
    <strong>Patient Personal Information</strong>
</div>

{% comment %}

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    1. Patient Personal Information Form
    2. Fields
        a. image
        b marital_status
        c. children

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

{% endcomment %}

<form class="A-form" action="{% url 'patients:detail' patient.pk %}" method="POST">
    {% csrf_token %}
    <div class="mb-40">
        <label class="label-box" for="{{ update_patient_personal_info.image.id_for_label }}">{{ update_patient_personal_info.image.label }}</label>
       <div class="w-100">
        {% if patient_image.image %}
           <img class="img-fluid slight-round-image health-status-border-{{ patient.health_status.css_class }}" width="200" height="200" src="{{ patient_image.image_medium.url }}" alt="">
        {% else %} NO PHOTO {% endif %}
       </div>
    </div>
    <div class="mb-40">
        <label class="label-box" for="{{ update_patient_personal_info.marital_status.id_for_label }}">{{ update_patient_personal_info.marital_status.label }}</label>
        {{ update_patient_personal_info.marital_status }}
    </div>
    <div class="mb-40">
        <label class="label-box" for="{{ update_patient_personal_info.children.id_for_label }}">{{ update_patient_personal_info.children.label }}</label>
        {{ update_patient_personal_info.children }}
    </div>
    <input type="hidden" name="update_patient_personal_info" value="">
</form>
<div class="button-section text-end">
    <button type="button" class="ehms-button" data-bs-toggle="modal"
            data-bs-target="#patient-personal-information-change-request">Change Request
    </button>
    {% comment %}

        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        1. The trigger of this modal is above button. "Change Request"

        2. Modal: Patient Personal Information Modal

        3. With the help of this modal you can send information and upload file if you require any
           updation or changes in the patient personal information.

        4. Only related hospital can perform such action.

        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    {% endcomment %}

    <div class="modal text-start fade" id="patient-personal-information-change-request" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1" aria-labelledby="patient-personal-information-change-request-label"
         aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="patient-personal-information-change-request-label">
                        <span class="material-symbols-sharp">open_in_new</span>
                        Send us the detail of the changes you want to do
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    {% comment %}

                        ////////////////////////////////////////////////////////////////////////////////////////////////

                        1. Form inside a modal named as : - Patient Personal Information Change Request Form
                            a. description
                            b. document

                        ////////////////////////////////////////////////////////////////////////////////////////////////

                    {% endcomment %}

                    <form action="" method="post" id="patient-personal-info-change-request-form">
                        <div class="mb-40">
                            <label for="" class="form-labels">Type your details</label>
                            <textarea class="form-control" name="" id="" cols="30" rows="10"
                                      data-validation="required"></textarea>
                        </div>
                        <div>
                            <label for="" class="form-labels">Upload the relevant documents</label>
                            <input class="form-control" name="" id="" type="file" data-validation="file:pdf:1:MB">
                        </div>
                        <button type="submit" id="patient-personal-info-change-request-form-submit-button"
                                class="hide-block"></button>
                        <div id="patient-personal-info-change-request-form-error-counts"
                             class="form-errors-count"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="me-auto ehms-button" data-bs-dismiss="modal">Close</button>
                    <label for="patient-personal-info-change-request-form-submit-button" role="button"
                           class="ehms-button">Submit</label>
                </div>
            </div>
        </div>
    </div>

    {# Modal ends here #}

</div>
