<div class="form-section-head">
    <strong>Patient General Information</strong>
</div>

{% comment %}

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    1. Patient General Information Form
    2. Fields
        a. uid
        b. first_name
        c. middle_name
        d. last_name
        e. date_of_birth
        f. gender
        g. religion
        h. age_group

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

{% endcomment %}

<form class="A-form" action="{% url 'patients:detail' patient.pk %}" method="POST">
    {% csrf_token %}
    <div class="mb-40">
        <label class="label-box" for="{{ update_patient_general_info.uid.id_for_label }}">{{ update_patient_general_info.uid.label }}</label>
        {{ update_patient_general_info.uid }}
    </div>
    <div class="mb-40">
        <label class="label-box" for="{{ update_patient_general_info.first_name.id_for_label }}">{{ update_patient_general_info.first_name.label }}</label>
        {{ update_patient_general_info.first_name }}
    </div>
    <div class="mb-40">
        <label class="label-box" for="{{ update_patient_general_info.middle_name.id_for_label }}">{{ update_patient_general_info.middle_name.label }}</label>
        {{ update_patient_general_info.middle_name }}
    </div>
    <div class="mb-40">
        <label class="label-box" for="{{ update_patient_general_info.last_name.id_for_label }}">{{ update_patient_general_info.last_name.label }}</label>
        {{ update_patient_general_info.last_name }}
    </div>
    <div class="mb-40">
        <label class="label-box" for="{{ update_patient_general_info.date_of_birth.id_for_label }}">{{ update_patient_general_info.date_of_birth.label }}</label>
        {{ update_patient_general_info.date_of_birth }}
    </div>
    <div class="mb-40">
        <label class="label-box" for="{{ update_patient_general_info.gender.id_for_label }}">{{ update_patient_general_info.gender.label }}</label>
        {{ update_patient_general_info.gender }}
    </div>
    <div class="mb-40">
        <label class="label-box" for="{{ update_patient_general_info.religion.id_for_label }}">{{ update_patient_general_info.religion.label }}</label>
        {{ update_patient_general_info.religion }}
    </div>
    <div class="mb-40">
        <label class="label-box" for="{{ update_patient_general_info.age_group.id_for_label }}">{{ update_patient_general_info.age_group.label }}</label>
        {{ update_patient_general_info.age_group }}
    </div>
    <input type="hidden" name="update_patient_general_info" value="">
</form>
<div class="button-section text-end">
    <button type="button" class="ehms-button" data-bs-toggle="modal"
            data-bs-target="#patient-general-information-change-request">Change Request
    </button>
    {% comment %}

        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        1. The trigger of this modal is above button. "Change Request"

        2. Modal: Patient General Information Modal

        3. With the help of this modal you can send information and upload file if you require any
           updation or changes in the patient general information.

        4. Only related hospital can perform such action.

        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    {% endcomment %}

    <div class="modal text-start fade text-start" id="patient-general-information-change-request" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1" aria-labelledby="patient-general-information-change-request-label"
         aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="patient-general-information-change-request-label">
                        <span class="material-symbols-sharp">open_in_new</span>
                        Send us the detail of the changes you want to do
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    {% comment %}

                        ////////////////////////////////////////////////////////////////////////////////////////////////

                        1. Form inside a modal named as : - Patient General Information Change Request Form
                            a. description
                            b. document

                        ////////////////////////////////////////////////////////////////////////////////////////////////

                    {% endcomment %}

                    <form action="" method="post" id="patient-general-info-change-request-form">
                        <div class="mb-40">
                            <label for="" class="form-labels">Type your details</label>
                            <textarea class="form-control" name="" id="" cols="30" rows="10"
                                      data-validation="required"></textarea>
                        </div>
                        <div>
                            <label for="" class="form-labels">Upload the relevant documents</label>
                            <input class="form-control" name="" id="" type="file" data-validation="file:pdf:1:MB">
                        </div>
                        <button type="submit" id="patient-general-info-change-request-form-submit-button"
                                class="hide-block"></button>
                        <div id="patient-general-info-change-request-form-error-counts"
                             class="form-errors-count"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="me-auto ehms-button" data-bs-dismiss="modal">Close</button>
                    <label for="patient-general-info-change-request-form-submit-button" role="button"
                           class="ehms-button">Submit</label>
                </div>
            </div>
        </div>
    </div>

    {# Modal ends here #}

</div>
