<div class="form-section-head">
    <strong>Patient Important Information</strong>
</div>
<form class="A-form" action="{% url 'patients:detail' patient.pk %}" method="POST" id="update-patient-health-status-form">
    {% csrf_token %}
    <div class="mb-40">
        <label class="label-box" for="{{ update_patient_important_info.health_status.id_for_label }}">{{ update_patient_important_info.health_status.label }}</label>
        {{ update_patient_important_info.health_status }}
    </div>
    <input type="hidden" name="update_patient_important_info" value="">
</form>
<div class="button-section text-end">
    <button type="button"  class="ehms-button">Save Changes</button>
</div>
