{% if form.errors %}
    {% for field in form %}
        {% if field.errors %}
            <div class="alert alert-danger">
                <strong>{{ field.label }}</strong>
                <ol>
                {% for error in field.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
                </ol>
            </div>
        {% endif %}
    {% endfor %}

    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
