/* ============================================================================================ Block Custom Checkbox */

.checkbox-wrapper {
    display: block;
}

.checkbox-wrapper label.checkbox-unchecked,
.checkbox-wrapper label.checkbox-checked {
    padding: 0 !important;
    margin: 0 !important;
    cursor: pointer;
    width: 100%;
}

.checkbox-wrapper label.checkbox-unchecked p,
.checkbox-wrapper label.checkbox-checked p {
    padding: 1rem !important;
    margin: 0;
}

.checkbox-wrapper-block {
    display: block;
}

.checkbox-unchecked {
    border: 1px solid var(--border-color-1);
    width: 100%;
    font-weight: 400;
    background-color: #FFE8BD !important;
    color: #000 !important;
    border-radius: 6px;
 }

.checkbox-checked {
    border: 1px solid var(--border-color-1);
    border-radius: 0.375rem;
    width: 100%;
    font-weight: 500;
    background-color: #BDFFC7 !important;
 }

/* ======================================================================================== End Block Custom Checkbox */
