/*============================================================================================= Block Form Validation */
.error-message {
    font-size: 0.75rem;
    padding-top: 0.625rem;
    color: var(--error-text);
}

.error-present {
    border: 1px solid var(--error-border) !important;
    background: var(--error-bg) !important;
}

.error-not-present {
    border: 1px solid var(--success-border) !important;
    background: var(--success-bg) !important;
}

#patient-image-preview img {
    width: 60% !important;
    height: auto !important;
}
.form-errors-count,
#form-errors-count {
    color: var(--error-text);
    padding: 10px;
}

/*========================================================================================= End Block Form Validation */
