/* ------------------------------------------------------------------------------------------------------- Pagination */
.pagination {
    margin: 50px 0;
}

.page-item:first-child .page-link {
    border: 2px solid var(--neutral-color-dark-mid);
    border-radius: 0;
}

.page-item.active .page-link {
    border: 1px solid var(--neutral-color-mid);
    background: var(--mountain-meadow);
    color: var(--davys-grey);
}

.page-item:not(:first-child) .page-link {
    border: 1px solid var(--gunmetal);
    border-left: 1px solid var(--gunmetal);
}

.page-link {
    margin: 10px 5px !important;
    border: 1px solid var(--gunmetal) !important;
    border-radius: 0 !important;
    border-left: 0;
    color: var(--persian-green)
}

.page-link:hover {
    border: 1px solid var(--gunmetal);
    border-left: 0;
    color: var(--pale-spring-bud);
    background: var(--metallic-seaweed);
}

.page-link:focus {
    color: var(--pale-spring-bud);
    background: var(--metallic-seaweed);
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.color-red {
    color: var(--error);
}

.color-orange {
    color: var(--information);
}

.health-status-critical {
    background-color: #ef233c !important;
    color: #FFFFFF !important;
    padding: 0.2rem 0.5rem;
}
.health-status-border-critical {
    border: 2px solid #ef233c !important;
}

.health-status-good {
    background-color: #2b9348 !important;
    color: #FFFFFF !important;
    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
}
.health-status-border-good {
    border: 2px solid #2b9348 !important;
}
