{% extends "base.html" %}
{% load humanize %}
{% block content %}

    <div class="container-fluid content-body">
        <div class="row content-body-inner">
            <div class="col">
                <span class="disabled-color pr-5"> {{ mortuary.name }} </span> / <a class="pl-5" href="{% url "mortuaries:home" %}">Mortuaries</a>
            </div>
            <div class="col d-flex justify-content-end"></div>
        </div>
    </div>

    <div class="ehms-hr"></div>

    <div class="container-fluid content-body">
        <div class="row content-body-inner">
            <div class="col">
                <div class="div-table">
                    <div class="div-table-row d-flex">
                        <div class="div-table-head flex-fill w-20">UID</div>
                        <div class="div-table-head flex-fill w-40">Name</div>
                        <div class="div-table-head flex-fill w-20">Capacity</div>
                        <div class="div-table-head flex-fill w-10">Status</div>
                        <div class="div-table-head flex-fill w-10"></div>
                    </div>
                    <div class="div-table-row d-flex bg-white">
                        <div class="div-table-cell flex-fill w-20">{{ mortuary.uid }}</div>
                        <div class="div-table-cell flex-fill w-40">{{ mortuary.name }}</div>
                        <div class="div-table-cell flex-fill w-20">{{ mortuary.capacity }}</div>
                        <div class="div-table-cell flex-fill w-10">{{ mortuary.status }}</div>
                        <div class="div-table-cell flex-fill w-10">
                            <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Settings">
                                <span class="material-symbols-sharp">settings</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
