<div class="form-section-head">
    <strong>Representative Information</strong>
</div>
<div class="div-table m-2">
    <div class="div-table-row d-flex">
        <div class="div-table-head flex-fill w-10">Image</div>
        <div class="div-table-head flex-fill w-20">Name</div>
        <div class="div-table-head flex-fill w-10">Designation</div>
        <div class="div-table-head flex-fill w-20">Contact</div>
        <div class="div-table-head flex-fill w-30">Remarks</div>
        <div class="div-table-head flex-fill w-10">Actions</div>
    </div>

    {% for re in representatives %}
    <div class="div-table-row d-flex">
        <div class="div-table-cell flex-fill w-10">
            {% if re.image %}
                <img class="img-fluid profile-img-rounded" width="50" height="50" src="{{ re.image_medium.url }}" alt="">
            {% else %} NO PHOTO {% endif %}
        </div>
        <div class="div-table-cell flex-fill w-20">
            {{ re.first_name }} {{ re.last_name }}
            {% if re.gender %} <br /> {{ re.gender }} {% endif %}
            {% if re.date_of_birth %} <br /> {{ re.date_of_birth }} {% endif %}
        </div>
        <div class="div-table-cell flex-fill w-10">
            {% if re.designation %}
                {{ re.designation }}
            {% else %}
                <span class="material-symbols-sharp">horizontal_rule</span>
            {% endif %}
        </div>
        <div class="div-table-cell flex-fill w-20">
            {% if re.phone %} {{ re.phone }} {% endif %}
            {% if re.alternate_phone %} <br /> {{ re.alternate_phone }} {% endif %}
            {% if re.email %} <br /> {{ re.email }} {% endif %}
        </div>
        <div class="div-table-cell flex-fill w-30">
            {% if re.remarks %} {{ re.remarks }}
            {% else %} <span class="material-symbols-sharp">horizontal_rule</span> {% endif %}
        </div>
        <div class="div-table-cell flex-fill w-10">
            <a href=""><span class="material-symbols-sharp">edit</span></a>
        </div>
    </div>
    {% empty %}
    <div class="div-table-row d-flex">
        <div class="div-table-cell w-100">Nothing Found.</div>
    </div>
    {% endfor %}
</div>
