<div class="form-section-head">
    <strong>Address Information</strong>
</div>

{% comment %}

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    1. Hospital Address Information Form
    2. Fields
        a. address_line_1
        b. address_line_2
        c. town
        d. district
        e. region
        f. country
        g. postcode

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

{% endcomment %}

<form class="A-form" action="" method="POST">
    {% csrf_token %}
    <div class="mb-40">
        <label class="label-box" for="{{ hospital_address_info.address_line_1.id_for_label }}">{{ hospital_address_info.address_line_1.label }}</label>
        {{ hospital_address_info.address_line_1 }}
    </div>
    <div class="mb-40">
        <label class="label-box" for="{{ hospital_address_info.address_line_2.id_for_label }}">{{ hospital_address_info.address_line_2.label }}</label>
        {{ hospital_address_info.address_line_2 }}
    </div>
    <div class="mb-40">
        <label class="label-box" for="{{ hospital_address_info.town.id_for_label }}">{{ hospital_address_info.town.label }}</label>
        {{ hospital_address_info.town }}
    </div>
    <div class="mb-40">
        <label class="label-box" for="{{ hospital_address_info.district.id_for_label }}">{{ hospital_address_info.district.label }}</label>
        {{ hospital_address_info.district }}
    </div>
    <div class="mb-40">
        <label class="label-box" for="{{ hospital_address_info.region.id_for_label }}">{{ hospital_address_info.region.label }}</label>
        {{ hospital_address_info.region }}
    </div>
    <div class="mb-40">
        <label class="label-box" for="{{ hospital_address_info.country.id_for_label }}">{{ hospital_address_info.country.label }}</label>
        {{ hospital_address_info.country }}
    </div>
    <div class="mb-40">
        <label class="label-box" for="{{ hospital_address_info.postcode.id_for_label }}">{{ hospital_address_info.postcode.label }}</label>
        {{ hospital_address_info.postcode }}
    </div>
</form>
<div class="button-section text-end">
    <button type="button" class="ehms-button" data-bs-toggle="modal"
            data-bs-target="#hospital-address-information-change-request">Change Request
    </button>

    {% comment %}

        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        1. The trigger of this modal is above button. "Change Request"

        2. Modal: Hospital Address Information Modal

        3. With the help of this modal you can send information and upload file if you require any
           updation or changes in the hospital address information.

        4. Only related hospital can perform such action.

        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    {% endcomment %}

    <div class="modal text-start fade" id="hospital-address-information-change-request" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1" aria-labelledby="hospital-address-information-change-request-label"
         aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="hospital-address-information-change-request-label">
                        <span class="material-symbols-sharp">open_in_new</span>
                        Send us the detail of the changes you want to do
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    {% comment %}

                        ////////////////////////////////////////////////////////////////////////////////////////////////

                        1. Form inside a modal named as : - Hospital Address Information Change Request Form
                            a. description
                            b. document

                        ////////////////////////////////////////////////////////////////////////////////////////////////

                    {% endcomment %}

                    <form action="" method="post" id="hospital-address-info-change-request-form">
                        <div class="mb-40">
                            <label for="" class="form-labels">Type your details</label>
                            <textarea class="form-control" name="" id="" cols="30" rows="10"
                                      data-validation="required"></textarea>
                        </div>
                        <div>
                            <label for="" class="form-labels">Upload the relevant documents</label>
                            <input class="form-control" name="" id="" type="file" data-validation="file:pdf:1:MB">
                        </div>
                        <button type="submit" id="hospital-address-info-change-request-form-submit-button"
                                class="hide-block"></button>
                        <div id="hospital-address-info-change-request-form-error-counts"
                             class="form-errors-count"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="me-auto ehms-button" data-bs-dismiss="modal">Close</button>
                    <label for="hospital-address-info-change-request-form-submit-button" role="button"
                           class="ehms-button">Submit</label>
                </div>
            </div>
        </div>
    </div>

    {# Modal ends here #}
</div>
