{% extends "base.html" %}
{% load humanize %}
{% block content %}

    <div class="container-fluid content-body">
        <div class="row content-body-inner">
            <div class="col">
                <span class="disabled-color pr-5"> Practitioner List </span> / <a class="pl-5" href="{% url "practitioners:token" %}">Practitioner Token</a>
            </div>

            <div class="col d-flex justify-content-end">
                <span class="pr-10">{{ practitioner_count }}</span>
                <div class="dropdown" data-bs-toggle="tooltip" data-bs-placement="top" title="Sort List">
                    <a href="" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-button">
                        <span class="material-symbols-sharp">sort</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="patient-list-sort-dropdown">
                        <li><a class="dropdown-item" href="{% url 'practitioners:list' %}?sort=asc">Ascending</a></li>
                        <li><a class="dropdown-item" href="{% url 'practitioners:list' %}?sort=desc">Descending</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="ehms-hr"></div>

    <div class="container-fluid content-body">
        <div class="row content-body-inner">
            <div class="col-12">
                <div class="div-table">
                    <div class="div-table-row d-flex">
                        <div class="div-table-head flex-fill w-10">Image</div>
                        <div class="div-table-head flex-fill w-30">Name</div>
                        <div class="div-table-head flex-fill w-40">Email</div>
                        <div class="div-table-head flex-fill w-10">Phone</div>
                        <div class="div-table-head flex-fill w-10">Actions</div>
                    </div>
                    {% for practitioner in page_obj %}
                    <div class="div-table-row d-flex bg-white">
                        <div class="div-table-cell flex-fill w-10">
                            {% if practitioner.image  %}
                            <img class="img-fluid profile-img-rounded img-border-2" width="50" height="50" src="{{ practitioner.image_thumbnail.url }}" alt="{{ practitioner.first_name }}">
                            {% else %}
                                NO PHOTO
                            {% endif %}
                        </div>
                        <div class="div-table-cell flex-fill w-30">
                            <a href="{% url "practitioners:detail" practitioner.pk %}">
                                {{ practitioner.first_name }} {{ practitioner.last_name }}
                            </a>
                        </div>
                        <div class="div-table-cell flex-fill w-40">
                            {{ practitioner.email }}
                        </div>
                        <div class="div-table-cell flex-fill w-10">
                            {{ practitioner.phone }}
                        </div>
                        <div class="div-table-cell flex-fill w-10">
                            <a class="pr-10" href="{% url "practitioners:detail" practitioner.pk %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Practitioner profile">
                                <span class="material-symbols-sharp">account_circle</span>
                            </a>
                            <a href="{% url "practitioners:practitioner-medical-sessions" practitioner.pk %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Medical sessions">
                                <span class="material-symbols-sharp">ballot</span>
                            </a>
                        </div>
                    </div>
                    {% empty %}
                        <div class="div-table-row"><div class="div-table-cell flex-fill w-100 text-center">Nothing Found</div></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
